*.iml
.idea/
localhost/

src/main/java/io/axoniq/axonbank/read/
src/main/java/io/axoniq/axonbank/write/
src/main/resources/static/
src/main/resources/templates/
code/axon-bank-spring-boot/.mvn/
code/axon-bank-spring-boot/src/main/resources/static/
code/axon-bank-spring-boot/src/main/resources/templates/

