*.iml
.idea/
localhost/

src/main/java/io/axoniq/axonbank/read/
src/main/java/io/axoniq/axonbank/write/
src/main/resources/static/
src/main/resources/templates/
code/11-axon-bank-spring-boot-3.0.X/.mvn/
code/11-axon-bank-spring-boot-3.0.X/src/main/resources/static/
code/11-axon-bank-spring-boot-3.0.X/src/main/resources/templates/

### Based on GitBook

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
